{% if page.comments %}  
  <!-- Link Gitalk 的支持文件  -->
  <link rel="stylesheet" href="https://unpkg.com/gitalk/dist/gitalk.css">
  <script async src="https://unpkg.com/gitalk@latest/dist/gitalk.min.js"></script> 
  <div id="gitalk-container"></div>     
  <script type="text/javascript">
      var gitalk = new Gitalk({
      // gitalk的主要参数
          clientID: '89ee0521ee28d3bcf945',
          clientSecret: 'ccf2af60ca6aca79abe4efb0900b4f16bc8d24a2',
          repo: 'bobbybby.github.io',
          owner: 'bobbybby',
          admin: ['bobbybby'],
          id: window.location.pathname,
      });
      gitalk.render('gitalk-container');
  </script> 
  <!-- Gitalk end -->
  {% include disqus.html %}
  {% include fb-comment.html %}
  {% include staticman-comments.html %}
  {% include utterances-comment.html %}
{% endif %}