---
common-css:
  - "https://bobbybby.oss-cn-zhangjiakou.aliyuncs.com/assets/css/main-minimal.css"
  - "https://bobbybby.oss-cn-zhangjiakou.aliyuncs.com/assets/css/bootstrap-social.css"
common-js:
  - "https://bobbybby.oss-cn-zhangjiakou.aliyuncs.com/assets/js/jquery-3.4.1.min.js"
  - "https://bobbybby.oss-cn-zhangjiakou.aliyuncs.com/assets/js/popper.min.js"
  - "https://bobbybby.oss-cn-zhangjiakou.aliyuncs.com/assets/js/bootstrap.min.js"
---

<!DOCTYPE html>
<html lang="{{ page.language | default: site.language | default: 'en' }}">

  {% include head.html %}

  <body>

    <div role="main" class="container-md main-content">
      {{ content }}
    </div>

    {% include footer-minimal.html %}

    {% include footer-scripts.html %}

  </body>
</html>
